
  .box {
    position:relative;
    vertical-align: middle;
    color: #ff7300;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: 0.5s;
    padding: 0 20px;
    cursor: pointer;
    border: 2px solid #ff7300;
    -webkit-transition:0.5s;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
  }
  
  .box:hover {
    border: 2px solid rgba(0,160,80,0);
    color: #FFF;
  }
  
  .box::before, .box::after {
    width: 100%;
    height:100%;
    z-index: 3;
    content:'';
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transition: 0.5s;
  }
  
  .boxx {
    position:relative;
    vertical-align: middle;
    color: #ff7300;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: 0.5s;
    padding: 0 20px;
    cursor: pointer;
    border: 2px solid #ff7300;
    -webkit-transition:0.5s;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 13px;
  }
  
  .boxx:hover {
    border: 2px solid rgba(0,160,80,0);
    color: #FFF;
  }
  
  .boxx::before, .boxx::after {
    width: 100%;
    height:100%;
    z-index: 3;
    content:'';
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transition: 0.5s;
  }
  
  .foo::before {
    border-bottom: 3px solid #FFF;
    border-left: 3px solid #FFF;
    -webkit-transform-origin: 0 100%;
  }
  
  .foo::after {
    border-top: 3px solid #FFF;
    border-right: 3px solid #FFF;
    -webkit-transform-origin: 100% 0%;
  }
  .box:hover::after, .box:hover::before {
    -webkit-transform: scale(1);
  }
  .boxx:hover::after, .boxx:hover::before {
    -webkit-transform: scale(1);
  }
  
  .link {
    line-height: 1em;
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 300px;
    height: 50px;
    font-family: "Open Sans","Roboto",Arial,sans-serif;
    text-align: right; 
  }
  
  .link > a {
    text-decoration: none;
    color: #FF0;
  }