{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block footer %}

<link rel="stylesheet" href="/php-mvc-master/public/css/formstyles.css" />

{% endblock %}

{% block body %}


    <div class="wrapper">
            <h1 style="text-align: center;">Request Password Reset</h1>

    <form method="post" action="/php-mvc-master/public/password/request-reset">
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" id="inputEmail" name="email" placeholder="Email" autofocus required class="form-control" />
        </div>
        
        <button type="submit" class="btn btn-primary">Send password reset</button>
        
    </form>
    </div>


{% endblock %}