{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block footer %}

<link rel="stylesheet" href="/php-mvc-master/public/css/hovereffect.css" />

{% endblock %}

{% block body %}

    <div align="center" style="margin: 200px">

    <a href="/php-mvc-master/public/imformation/shop" >
        <div class='box foo'>
          SHOP
        </div>
      </a>
      <a href="/php-mvc-master/public/imformation/guider">
        <div class='box foo'>
          GUIDE
        </div>
      </a>
      <a href="/php-mvc-master/public/imformation/hotel" >
        <div class='box foo'>
          HOTEL
        </div>
      </a>
      <a href="/php-mvc-master/public/imformation/vehical" >
        <div class='box foo'>
          VEHICLE
        </div>
      </a>  
    </div>

{% endblock %}