{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block footer %}

{% endblock %}

{% block body %}

    <h1>Guide</h1>

    <form method="post" action="/php-mvc-master/public/signup/create" id="formSignup">

        <div class="form-group">
            <label for="inputName">Name</label>
            <input id="inputName" name="name" placeholder="Name" autofocus value="{{ user.name}}" required class="form-control"/>
        </div>

        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input id="inputEmail" name="email" placeholder="Email" value="{{ user.email}}" required type="email" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="password" placeholder="Password" required class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary">Sign up</button>

    </form>

{% endblock %}