<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/php-mvc-master/public/css/styles.css" />
  <link rel="icon" sizes="256x256" href="/php-mvc-master/public/resource/logo2.png">
  <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>

  <style>
      .navbar-custom {
        background-color: #222222;
    }
  </style>



</head>

<body>
  <div class="container">
    <nav class="navbar fixed-top navbar-expand-md navbar-dark navbar-custom p-0">
      <!-- Brand -->
      <a class="navbar-brand" href="#"><img src="/php-mvc-master/public/resource/logo.jpg" style="width:150px;"></a>

      <!-- Links -->
      <ul class="navbar-nav ml-auto">

        {% if current_user %}
        <li class="nav-item">
          <a class="nav-link" href="/php-mvc-master/public/mapquest/load"><i class="fas fa-map-marked-alt"></i> Map</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="/php-mvc-master/public/profile/show"><i class="fas fa-user"></i> {{ current_user.name }}</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="/php-mvc-master/public/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>

        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/php-mvc-master/public/"><i class="fas fa-home"></i> Home</a>

        </li>

        <li class="nav-item">
          <a class="nav-link" href="/php-mvc-master/public/signup/new"><i class="fas fa-user-plus"></i> Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/php-mvc-master/public/login"><i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>

  {% for massage in flash_messages %}
  <div class="alert alert-{{ massage.type }}">
    {{ massage.body }}
  </div>
  {% endfor %}


  {% block body %}
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>

  {% block footer %}
  {% endblock %}
  </div>
</body>

</html>