{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block footer %}

<script src="/php-mvc-master/public/js/hideShowPAssword.min.js"></script>
<script src="/php-mvc-master/public/js/app.js"></script>
<link rel="stylesheet" href="/php-mvc-master/public/css/formstyles.css" />
<script src="/php-mvc-master/public/js/imagepreview.js"></script>
<script>

$(document).ready(function(){

    var userId = '{{ user.id }}';

    $('#formProfile').validate({
        rules:{
            name: 'required',
            email: {
                required: true,
                email:true ,
                remote: {

                    url: '/php-mvc-master/public/account/validate-email',
                    data: {
                        ignore_id: function() {
                            return userId;
                        }
                    }
                }
            },
            password: {
                
                minlength: 8,
                validPassword: true
            }

        },
        messages:{
            email:{
                remote: 'Email already taken'
            }
        }
    });


    $('#inputPassword').hideShowPassword({
        show:false,
        innerToggle: 'focus'
    });
});

</script>

{% endblock %}

{% block body %}

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        
    {% endif %}
    <div class="wrapper">

            <h1 style="text-align: center;">Add Profile Photo</h1>
            
    <form method="post" enctype="multipart/form-data" action="/php-mvc-master/public/profile/add-photo">

        <div class="form-group">
                <label for="image">Upload Images : </label>
                <input type="file" name="userfile" id="image" accept="image/*" multiple="" required>
            </div>
            <div id="image-holder" class="image-holder" style="display: none;"></div>
        
        <button type="submit" class="btn btn-primary">Save</button>
        
        <a href="/php-mvc-master/public/profile/show">Cancel</a>

    </form>
    </div>

{% endblock %}